{% extends "base.html" %}

{% load crispy_forms_tags %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock head_title %}

{% block content %}
<div class="container my-5 py-5">
    <div class="row">
        <div class="col col-xxl-4 col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto">
            <h2>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h2>

            {% if token_fail %}
            {% url 'account_reset_password' as passwd_reset_url %}
            <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used. Please
                request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
            {% else %}
            <form method="POST" action="{{ action_url }}" class="password_reset_from_key">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="btn" type="submit" name="action" value="{% trans 'change password' %}" />
            </form>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}