{% extends "base.html" %}

{% block content %}

<div class="container my-5 py-5">
    <div class="row">
        <div class="col col-xxl-6 col-xl-7 col-lg-8 col-md-9 col-sm-12 mx-auto">
            <div class="form-group">
                <div class="row mb-3">
                    <div class="col">
                        <label for="first-name" class="form-label">Nombre:</label>
                        <input type="text" class="form-control" id="first-name" name="first-name" required>
                    </div>
                    <div class="col">
                        <label for="last-name" class="form-label">Apellido:</label>
                        <input type="text" class="form-control" id="last-name" name="first-name" required>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <label for="email-adress" class="form-label">Email:</label>
                        <input type="email" class="form-control" id="email-adress" name="email-adress" required>
                    </div>
                    <div class="col">
                        <label for="subject" class="form-label">Asunto:</label>
                        <input type="text" class="form-control" id="subject" name="subject" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="message" class="form-label">Mensaje:</label>
                        <textarea class="form-control" id="message" name="message" rows="10" required></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}